# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore node modules
node_modules/

# Ignore environment files
.env

# Ignore build outputs
dist/
build/

# Ignore OS files
.DS_Store
.vscode
Thumbs.db

# Ignore dataset files
data/

# Ignore simulation results
runs/
# visualization/
